@font-face {
  font-family: 'cb-icons';
  src:  url('/theme/fonts/cb-icons.eot?5l86q3');
  src:  url('/theme/fonts/cb-icons.eot?5l86q3#iefix') format('embedded-opentype'),
    url('/theme/fonts/cb-icons.ttf?5l86q3') format('truetype'),
    url('/theme/fonts/cb-icons.woff?5l86q3') format('woff'),
    url('/theme/fonts/cb-icons.svg?5l86q3#cb-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="cb-"], [class*=" cb-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'cb-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cb-mastodon:before {
  content: "\e900";
}
.cb-twitter:before {
  content: "\f099";
}
.cb-feed:before {
  content: "\f09e";
}
.cb-rss:before {
  content: "\f09e";
}
