<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
	<meta charset="utf-8">
	<title>{% block title %}{{ SITENAME }}{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}
        <meta name="author" content="{{ AUTHOR }}" />
    {% endblock %}
	<link href="{{ SITEURL }}/theme/css/ipython.css" rel="stylesheet" />
	<link href="{{ SITEURL }}/theme/css/bootstrap.min.css" rel="stylesheet" />
	<link href="{{ SITEURL }}/theme/css/icons.css" rel="stylesheet" />
	<link href="{{ SITEURL }}/theme/css/local.css" rel="stylesheet" />
	<link href="{{ SITEURL }}/theme/css/pygments.css" rel="stylesheet" />
	{% block head %}{% endblock %}
	{% if FEED_ALL_ATOM %}
	<link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" title="Blog" rel="alternate" type="application/atom+xml" />
	{% endif %}
</head>
<body>
<div class="container">
	<div class="page-header">
		<div class="col-md-2 hidden-xs center-image">
			<a href="{{ PARENTURL }}/" target="_blank"><img src="{{SITEIMAGE}}"/></a>
		</div>
		<div class="col-xs-12 col-md-10 cb-rm-l-padding">
		<h1><a href="{{ SITEURL }}/">{{ SITENAME }}</a>
			<br>{% if SITESUBTITLE %}<small>{{ SITESUBTITLE }}</small>{% endif %} 
		</h1>
		</div>	
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			{% block content %}{% endblock %}
		</div>
	</div> {# End row #}
	<!-- <hr> -->
</div> <!-- /container -->
<footer class="aw-footer bg-info">
	<div class="container"> <!-- footer -->
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="row">
					<div class="col-md-3">
						<h4>Navigation</h4>
						<ul class="list-unstyled my-list-style">
							<li><a href="{{SITEURL}}">{{ SITENAME }}</a></li>
							{% for title, link in MENUITEMS %}
							<li><a href="{{ SITEURL }}/{{ link }}">{{title}}</a></li>
							{% endfor %}
							{% if DISPLAY_PAGES_ON_MENU %}
							{% for page in pages %}
							<li><a href="{{ SITEURL }}/{{ page.url }}">{{page.title}}</a></li>
							{% endfor %}
							{% endif %}
							{% if FEED_ALL_ATOM %}
							<li>
								<a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml">
									<i class="cb-rss" aria-hidden="true"></i> atom</a>
							</li>
							{% endif %}
							{% if FEED_ALL_RSS %}
							<li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml">
								<i class="cb-rss" aria-hidden="true"></i> rss</a>
							</li>
							{% endif %}
						</ul>
					</div>
					<div class="col-md-3">
						<h4>Categories</h4>
						<ul class="list-unstyled my-list-style">
							{% for cat, art in categories %}
							<li><a href="{{SITEURL}}/category/{{cat | replace(" ", "-") | lower }}.html">{{cat}} ({{art | count}})</a></li>
							{% endfor %}
						</ul>
					</div>
				{% if LINKS %}
					<div class="col-md-3">
						<h4>Links</h4>
						<ul class="list-unstyled my-list-style">
						{% for name, link in LINKS %}
							<li><a href="{{ link }}">{{ name }}</a></li>
						{% endfor %}
						</ul>
					</div>
				{% endif %}
				{% if SOCIAL %}
					<div class="col-md-3">
						<h4>Links</h4>
						<ul class="list-unstyled my-list-style">
						{% for name, link in SOCIAL %}
						<li><a href="{{ link }}"><i class="cb-{{ name.lower() }} " aria-hidden="true"></i> {{ name }}</a></li>
						{% endfor %}
						</ul>
					</div>
				{% endif %}
			</div>
			</div>
		</div>
	</div>
</footer>
<div class="container">
	<div class="row">
		<div class="col-md-12 text-center center-block aw-bottom">
			<p>&copy; {{ AUTHOR }} {{ STARTYEAR }} {% if CURRENTYEAR %} - {{ CURRENTYEAR }}{% endif %}</p>
			<p>Powered by Pelican</p>
		</div>
	</div>
</div>
{% include "github.html" %}
</body>
</html>
